{%extends 'layout.template.html' %} {%block content%}
<h2>Add</h2>
<form method="POST">
  <div class="form-group">
    <label>Image Title</label>
    <input type="text" class="form-control" name="image_name" />
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Name of Photographer</label>
      <input type="text" class="form-control" name="photographer_name" />
    </div>

    <div class="form-group col">
      <label>Location</label>
      <input type="text" class="form-control" name="image_location" />
    </div>

    <div class="form-group col">
      <label>Date</label>
      <input type="date" class="form-control" name="image_year" />
    </div>
  </div>

  <div class="form-group">
    <label>Photography Type</label>
    <select class="form-control" name="photography_type">
      {%for type in all_photography_types %}
      <option value="{{type._id}}">{{type.type_name}}</option>
      {%endfor%}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Photograph Description</label>
    <textarea
      class="form-control"
      rows="3"
      name="photograph_description"
    ></textarea>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Camera Make</label>
      <input type="text" class="form-control" name="camera_make" />
    </div>

    <div class="form-group col">
      <label>Camera Model</label>
      <input type="text" class="form-control" name="camera_model" />
    </div>

    <div class="form-group col">
      <label>Focal Length</label>
      <input type="text" class="form-control" name="focal_length" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Aperture</label>
      <input type="text" class="form-control" name="aperture" />
    </div>

    <div class="form-group col">
      <label>Shutter Speed</label>
      <input type="text" class="form-control" name="shutter_speed" />
    </div>

    <div class="form-group col">
      <label>ISO</label>
      <input type="text" class="form-control" name="iso" />
    </div>
  </div>

  <input type="submit" class="btn btn-primary" />
</form>
{%endblock%}
