{%extends 'layout.template.html' %}
{%block content%}

<h1>Gallery<a class="btn btn-primary ml-3" href="{{ url_for('create_photo')}}" role="button">Add</a></h1>



<form class="form-inline mb-3" method="GET">
    <div>
        <input type="text" placeholder="Enter Search Terms" name="search-terms" class="form-control"/>
        <input type="submit" value="Search" class="ml-3 form-control btn-dark"/>
    </div>

    <div class="container mt-2">
        <input type="checkbox" name="type_wedding" class="form-check-input ml-3"/>Wedding Photography
        <input type="checkbox" name="type_event" class="form-check-input ml-3"/>Event Photography
        <input type="checkbox" name="type_portrait" class="form-check-input ml-3"/>Portrait Photography
        <input type="checkbox" name="type_product" class="form-check-input ml-3"/>Product Photography
        <input type="checkbox" name="type_fineart" class="form-check-input ml-3"/>Fine Art Photography
    <div>

</form>

<table class="table">
    <tbody>
        {%for photo in all_photos %}
            <tr>
                <td>
                    <div class="container">
                        <div>
                        <h2>{{photo.title}}, {{photo.type.name}}</h2>
                        <p>by <i>{{photo.photographer}}</i> @ {{photo.location}} on {{photo.year}}</p>
                        <p>{{photo.description}}</p>
                        </div>

                        <div class="row">
                        <div class="col-3"><h6>Camera Make</h6>{{photo.cameraMake}}</div>
                        <div class="col-3"><h6>Camera Model</h6>{{photo.cameraModel}}</div>
                        <div class="col-4"><a class="btn btn-primary" href="{{ url_for('update_photo', id=photo._id)}}" role="button">Edit</a></div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-3"><h6>Focal Length</h6>{{photo.focalLength}}</div>
                        <div class="col-3"><h6>Aperture</h6>{{photo.aperture}}</div>
                        <div class="col-4"><a class="btn btn-danger" href="{{ url_for('delete_photo', id=photo._id)}}" role="button">Delete</a></div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-3"><h6>Shutter Speed</h6>{{photo.shutterSpeed}}</div>
                        <div class="col-3"><h6>ISO</h6>{{photo.iso}}</div>
                        <div class="col-4"></div>
                        </div>
                        
                    </div>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}