{%extends 'layout.template.html' %}

{%block content%}
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{{ url_for('index')}}"><img src="/static/img/nav-logo.png"></a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-text active">
        <a class="nav-link nav-text" href="{{ url_for('show_all_photos')}}">#Gallery <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="{{ url_for('create_photo')}}">+Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="{{ url_for('genre')}}">#Photography Genre</a>
      </li>
      
    </ul>

	<form class="form-inline my-2 my-lg-0">
	
		<input type="text" placeholder="Enter Search Terms" name="search-terms" class="form-control nav-text"/>
		<input type="submit" value="Search" class="ml-3 form-control btn-custom"/>
	    </form>
  </div>
</nav>


<h1>#Gallery</h1>
<button onclick="topFunction()" id="myBtn" title="Go to top">Return to Top</button>

<table class="table mt-2">
    <tbody>
        {%for photo in all_photos %}
            <tr>
                <td>

                <div class="row mt-4 mb-4">
                    <div class="col-sm-6 media">
                    <img src="{{photo.uploaded_file_url}}" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
                    </div>

                    <div class="col-sm-6 align-self-center align-items-center">
      
    
                        <div class="col m-0 p-0">
                        <h3>{{photo.title}}</h3>
                        <p class="text-custom">by <i>{{photo.photographer}}</i> @ {{photo.location}} on {{photo.year}}</p>
                        <p class="text-custom2">{{photo.description}}</p>
                        </div>

                        <div class="row">
                        <div class="col-4"><h6 class="m-0">Camera Make</h6><h7>{{photo.cameraMake}}</h7></div>
                        <div class="col-4"><h6 class="m-0">Camera Model</h6><h7>{{photo.cameraModel}}</h7></div>
                        <div class="col-4"></div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-4"><h6 class="m-0">Focal Length</h6><h7>{{photo.focalLength}}</h7></div>
                        <div class="col-4"><h6 class="m-0">Aperture</h6><h7>{{photo.aperture}}</h7></div>
                        <div class="col-4">
                        <a href="{{ url_for('update_photo', id=photo._id)}}"><img src="/static/img/edit.png" alt="delete-logo" class="img-fluid" width="35px"></a>
                        </div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-4"><h6 class="m-0">Shutter Speed</h6><h7>{{photo.shutterSpeed}}</h7></div>
                        <div class="col-4"><h6 class="m-0">ISO</h6><h7>{{photo.iso}}</h7></div>
                        <div class="col-4">
                        <a href="{{ url_for('delete_photo', id=photo._id)}}"><img src="/static/img/delete.png" alt="delete-logo" class="img-fluid" width="35px"></a>
                        </div>
                        </div>
                        
                        <div class="row">
                        <span class="badge badge-custom ml-2 mt-3">{{photo.type.name}}</span>
                        </div>
                        
                    </div>
                </div>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}
{% block js %}
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{%endblock%}