.masthead {
    height: 95vh;
	min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.nav-text{
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
    font-style: normal;
    color: #5e5e5e;
}

.btn-secondary{
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-style: normal;
    background-color:rgba(255,255,255,0.5);
    color: #5e5e5e;
    border: none;
}

.center-logo {
  display: flex;
  align-items: center;
}

.animate-custom {
	position: relative;
	animation: mymove 1.2s;
}

@keyframes mymove {
	from {top: -800px;}
	to {top: 0;}

}

