@media (min-width: 768px) and (max-width: 1200px) {
  .collapse{
      display: none !important;
  }
}

.navbar-colour{
    background-color: #e6e2d9;  
}

.navbar-toggler {
  border-color: #f41f4e;
}

.btn-custom {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #574013;
    background-color: #f6eacb;
}

.btn-custom2 {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #f6eacb;
    background-color: #574013 ;
}

.btn-custom3 {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #f6eacb;
    background-color: #f41f4e;
}

.btn-custom4 {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #574013;
    background-color: #f6eacb;
    height: 43px;
}

body {
  background-color: #e6e2d9;
}

.nav-text{
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
    font-style: normal;
    color: #5e5e5e;
}

th, td {
  border-bottom: 1px solid #5e5e5e;
  margin-top: 20px;
}

h1{
    padding-top: 5px;
    font-family: 'Cormorant Upright', serif;
    font-size: 50px;
    font-style: italic;
    color:  #574013;
}

h3{
    padding-top: 5px;
    font-family: 'Cormorant Upright', serif;
    font-size: 32px;
    font-style: italic;
    color:  #574013;
}

.text-custom{
    padding-top: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-style: italic;
    color:  #5e5e5e;
}

.text-custom2{
    padding-top: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color:  #5e5e5e;
}

.text-custom4{
    padding-top: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-style: italic;
    color: #574013;
}

.badge-custom{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #574013;
    background-color: #f6eacb;
}

h7{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color:  #5e5e5e;
}

h6{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:  #574013;
}

h5{
    font-family: 'Cormorant Upright', serif;
    font-size: 24px;
    color:  #574013;
}

.form-label{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:  #574013;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  border: none;
  outline: none;
  background-color:#f41f4e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


.box {
  cursor: pointer;
  text-align: center;
  transition-property: border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
}
.box:hover {
  border-radius: 50%;
}

.container2 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Cormorant Upright', serif;
  font-size: 18px;
  color:  #574013;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 8px;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #574013;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}