{%extends 'layout.template.html' %}
{%block content%}

<div class="alert alert-warning text-center">
    <form method="POST">
        <h5>Are you sure you want to delete review by {{review.reviewer_name}}?</h5>
        <div>
        <input class="btn btn-custom3" type="submit" value="Confirm"/>
        <a class="btn btn-custom2" href="{{url_for('show_all_photos')}}">Cancel</a>
        </div>
    </form>
</div>

<div class="row text-center">
            <div class="col m-0 p-0">
                        <h3>{{review.reviewer_name}}</h3>
                        <p class="text-custom">Commented on <i>{{review.review_date}}</i>
                        <p class="text-custom2">{{review.reviewer_comment}}</p>
                        </div>
           
                </div>

{%endblock%}