{%extends 'layout.template.html' %}
{%block content%}

<div class="alert alert-warning text-center">
    <form method="POST">
        <h5>Are you sure you want to delete Photo Entry: {{photo.title}}?</h5>
        <div>
        <input class="btn btn-custom3" type="submit" value="Confirm"/>
        <a class="btn btn-custom2" href="{{url_for('show_all_photos')}}">Cancel</a>
        </div>
    </form>
</div>

<div class="row">
                    <div class="col-sm-6 media">
                    <img src="{{photo.uploaded_file_url}}" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
                    </div>

                    <div class="col-sm-6 align-self-center align-items-center">
      
    
                        <div class="col m-0 p-0">
                        <h3>{{photo.title}}</h3>
                        <p class="text-custom">by <i>{{photo.photographer}}</i> @ {{photo.location}} on {{photo.year}}</p>
                        <p class="text-custom2">{{photo.description}}</p>
                        </div>

                        <div class="row">
                        <div class="col-6"><h6 class="m-0">Camera Make</h6><h7>{{photo.cameraMake}}</h7></div>
                        <div class="col-6"><h6 class="m-0">Camera Model</h6><h7>{{photo.cameraModel}}</h7></div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-6"><h6 class="m-0">Focal Length</h6><h7>{{photo.focalLength}}</h7></div>
                        <div class="col-6"><h6 class="m-0">Aperture</h6><h7>{{photo.aperture}}</h7></div>
                        </div>

                        <div class="row mt-2">
                        <div class="col-6"><h6 class="m-0">Shutter Speed</h6><h7>{{photo.shutterSpeed}}</h7></div>
                        <div class="col-6"><h6 class="m-0">ISO</h6><h7>{{photo.iso}}</h7></div>
                        </div>
                        
                        <div class="row">
                        <span class="badge badge-custom ml-2 mt-3">{{photo.type.name}}</span>
                        </div>
                        
                    </div>
                </div>

{%endblock%}