{%extends 'layout.template.html' %}

{%block content%}
<nav class="navbar navbar-expand-md">
	<a class="navbar-brand" href="{{ url_for('index')}}"><img src="/static/img/nav-logo.png"></a>
		<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item nav-text active">
					<a class="nav-link nav-text" href="{{ url_for('show_all_photos')}}">#Gallery
						<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-text" href="{{ url_for('create_photo')}}">+Add</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-text" href="#">#Photography Genre</a>
				</li>

			</ul>
		</div>
</nav>


<h1>#Photography Genre</h1>
<button onclick="topFunction()" id="myBtn" title="Go to top">Return to Top</button>

<table class="table mt-3">
	<tbody>
		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/1_wedding.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Wedding Photography</h3>
								<p class="text-custom2">Wedding photography is pretty intense, with an element of
									getting the best shot you can on the first try and not really getting a second
									chance in some situations. Wedding photographers have to be quick on their feet,
									moving around during the reception and ceremony, and there are substantial sales and
									customer service components to their jobs. They also have to be adaptable, ready to
									shoot outdoors on a sunny day and indoors for dimly lit receptions and dances.
									Couples will expect the direction from the photographer for posing shots and
									settings, so the photographer must be confident and communicate well with the bride
									and
									groom.<br><br>The great wedding photographers are the ones who love their jobs. Many beginning photographers start shooting weddings because, as they say, “that’s where the money is.” But this mindset will ultimately lead to a disappointing business model if the photographer’s heart isn’t in their work.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/2_event.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Event Photography</h3>
								<p class="text-custom2">In the same vein, event photography is a dynamic and fast-paced
									way to make a buck with your camera. Whether your beat is corporate events or wild
									and crazy rock concerts, event photographers work in a variety of settings. Event
									photography styles often involve a mixture of photojournalistic documentary work and
									portraiture. Some organizations use their event photos for publicity purposes, while
									other use party photos as souvenirs or keepsakes.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/3_portrait.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Portrait Photography</h3>
								<p class="text-custom2">Portraiture is one of the most common types of photographer that
									we think of when we consider career options. The kinds of photography that can be
									included in portraits is astounding. Retail customers seek out portrait
									photographers for every phase of life: maternity and newborns, school photos, senior
									photos, and general family photos. Corporate portraits are also commonly needed as
									employees update their headshots for websites and publicity materials. Furthermore,
									aspiring and professional models are in constant need of updated portfolios with a
									catalog of current shots to market themselves for agencies and
									jobs.<br><br>Portrait photography is a great place to start out as a photographer. Building a great portfolio of quality shots can lead to more business. It can often lead to more work for families and weddings as word of mouth marketing does its magic. It can also lead to fashion and product photography gigs.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/4_product.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Product Photography</h3>
								<p class="text-custom2">More specific than working in advertising, product photography
									is a great specialization. Think about all of the products you have recently shopped
									for: everything needs to be photographed. The photos are used for online and print
									catalogs, as well as for labels and packaging. Most product photography is studio
									based, with careful control of backgrounds, shadows, and lighting. Studio rentals
									can be fairly expensive so consider building a home photography studio on a
									budget.<br><br>Product photography covers a lot of ground. Food photography is a specialized niche, and restaurants need to advertise their meals and create their menus. Jewelry is another favorite type of product photography since this requires the perfect balance of light and preparation. While some product shoots might involve models, many times you will be working solo in a studio doing still life photographs of small objects.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/5_fineart.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Fine Art Photography</h3>
								<p class="text-custom2">Of all of the types of photography, this is the one with no
									rules. Fine art photographers create art. They display their work in galleries and
									at art shows, and generally, they sell a finished, framed print product to their
									customers. Fine art photography can be of any subject at all, but landscape and
									portrait artists are probably the most common. Fine art images are about capturing
									emotional responses and communicating with the audience.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/6_fashion.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Fashion Photography</h3>
								<p class="text-custom2">Fashion photography is one of the more glamorous and more
									difficult to enter photography jobs. From cover shots of the top fashion magazines
									to documenting the latest styles and trends on the runway, fashion photographers
									work in the design districts of New York, Paris, and Milan. Runway shoots require an
									element of documentary photography, while posed shoots on location demand one-on-one
									work with the
									model.<br><br>Catalog and magazine shoots might also occur on location, from tropical beaches to subway. In this style of glamour photography, the look of the photographs is everything. Lighting must be perfect. This is a job that is also focused on the model, so a majority of the photographers time is spent posing and directing models and scenes to get the look desired from the publication.<br><br>Fashion shoots are all about teamwork, and they are done by a group of people. The photographer is just one cog in the wheel. Stylists, wardrobe specialists, makeup artists, art directors, and others make up a team that keeps the shoot on track and make the magic happen.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/7_artitectural.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Architectural Photography</h3>
								<p class="text-custom2">While many find taking pictures of buildings to be a fun hobby,
									many specialized photographers make careers out of it. Employed by architectural
									agencies or working as freelancers, these photographers capture the essence of
									buildings from inception to completion. Details captured include the exteriors and
									interiors, and subtle details that make the building's design unique. Architectural
									photography requires some special techniques and equipment to minimize distortion
									and perspective problems that become apparent on a building’s many right
									angles.<br><br>A subdivision is real estate photography. Realtors always need excellent photographs, especially in today's market where many customers view many properties online before deciding to go see them. High-quality architectural pictures are difficult to get right, and realtors will pay for professional photos especially in the high-end market.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/8_travel.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Travel Photography</h3>
								<p class="text-custom2">Do you love to travel? Would you like to get paid for it? Who
									doesn’t? Travel photography allows you to do just that while having fun with your
									camera in dynamic settings. Travel photography blends many different types of
									photography into one. On one trip you might want to focus on the people and the
									lifestyles present in a place, while also capturing the landscapes and the natural
									world in which it’s located. Macro details and wildlife photography might be
									included too. Be it on the beaches of Bali or the ice fields of Antartica, the job
									of a travel photographer is to transport their audience to that place without them
									having to leave home.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/9_photojournalism.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Photojournalism</h3>
								<p class="text-custom2">Whether it be in war zones, political rallies, natural
									disasters, or community celebrations, photojournalists cover breaking news.
									Newspapers, magazines, and online publications are all in need of still photographs
									to help tell their stories. Photojournalism is one of the documentary types of
									photography, and the goal of a photojournalist is to document the events as they
									unfold. While there may be some portraiture, the majority of work is done candidly
									and as unobtrusively as possible. The photos tell a story of events that are
									happening all over the world.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/10_lifestyle.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Lifestyle Photography</h3>
								<p class="text-custom2">Everywhere we go we are surrounded by photography. Photography
									is on billboards, street signs, magazine ads, even in our pockets on our
									smartphones. Captivating photography makes the advertising world tick, and
									photography has never been more in demand than it is right
									now.<br><br>Advertising photography can include a range of subjects, like street photography, lifestyle photography, fashion photography, or product photography. Advertising photographers can work as freelancers, selling images on a project-by-project basis, or they might work directly for major ad agencies. Either way, this is a dynamic field where you may be shooting for a print ads campaign one day and shooting internet ads the next, always with a new subject.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/11_pet.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Pet Photography</h3>
								<p class="text-custom2">If your perfect subject is a furry friend, then pet photography
									might be for you. This is a growing sector and is very similar in working conditions
									and type of styles to portraiture; only your subjects may require treats when they
									are good. If you love animals, then there is no better job as a photographer. Pet
									photography involves a fun mix of studio sessions and outdoor, on-location shoots.
									With connections to your local pet daycare facilities and dog show circuits, you can
									build your business fairly quickly. A great way to start out is to volunteer your
									time to your local pound, taking pictures of the animals and helping them find their
									forever homes.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/12_sports.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Sports Photography</h3>
								<p class="text-custom2">If you love sports, then being a sports photographer is a great
									gig. From the sidelines, sports photographers use quick cameras and long lenses to
									zoom in on the action and capture the winning shots. Photos wind up in publicity
									materials for teams, in advertising and marketing, and in the news media online and
									in print.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/13_aerial.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Aerial Photography</h3>
								<p class="text-custom2">A burgeoning field of photography born from modern technology is
									the aerial photographer. Sure, aerial images have been around as long as manned
									flight and cameras have been. But today, unmanned aerial vehiclesaerial vehicles,
									also called drones, are making aerials within the realm of all photographers. In the
									US and most countries, commercial drone pilots must be licensed. The process is
									relatively simple and usually requires only a written exam. Aerial photography is
									now used for everything from architectural and real estate photography to weddings
									and events. The unique perspective given by drones can’t be beaten for uniqueness
									and beauty.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/14_specialty.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Specialty Photography</h3>
								<p class="text-custom2">Many fields rely on great photography for publications, training
									materials, and record keeping. Many scientific and medical research companies employ
									photographers to document new findings and
									discoveries.<br><br>Many other industries rely on photos to conduct surveys and studies. For example, in Florida, aerial wildlife studies are routinely performed to study the numbers of manatees and birds living in remote areas. Many insurance companies rely on photographers to inspect homes and buildings, sending their photographic findings to the company to document damage or condition.<br><br>These are just a few examples of the specialized fields that use photography regularly. With open eyes and ears, working photographers can find remarkable jobs working with governments and private companies all over the world.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="row">
					<div class="col-sm-5 media">
						<img src="/static/img/15_stock.jpeg" alt="logo" class="img-fluid align-self-center align-items-center animate-custom">
									        </div>

						<div class="col-sm-7 align-self-center align-items-center">
							<div class="col m-0 p-0">
								<h3>Stock Photography</h3>
								<p class="text-custom2">If all of these types of photography jobs sounded good to you,
									you might make a great stock photographer. Stock photographers sell the rights to
									use their images through catalogs. They can work as a freelancer, but more often
									than not photographers allow agencies to handle their sales. Stock sales usually
									don’t pay very much per use, but the goal of a successful stock photographer is to
									have an extensive catalog of images that sell often. As a result, once the photos
									are uploaded and being sold, they provide a source of on-going passive
									income.<br><br>The advantage of selling stock photos is that you can sell any type of image you want. These images are used by major ad agencies and small websites. Whether you like to shoot sunsets, people, kids, pets, or wildlife, you can probably sell your images as stock. Once the photos are captured, a lot of time is spent cataloging and keywording images to ensure that customers can find them.</p>
							</div>
						</div>
					</div>
			</td>
		</tr>



	</tbody>
</table>
{%endblock%}
{% block js %}
<script>
	//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{%endblock%}