@media (min-width: 768px) and (max-width: 1200px) {
  .collapse{
      display: none !important;
  }
}

.navbar-colour{
    background-color: #e6e2d9;  
}

.navbar-toggler {
  border-color: #f41f4e;
}

.btn-custom {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #574013;
    background-color: #f6eacb;
}

body {
  background-color: #e6e2d9;
}

.nav-text{
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
    font-style: normal;
    color: #5e5e5e;
}

th, td {
  border-bottom: 1px solid #5e5e5e;
  margin-top: 20px;
}

h1{
    padding-top: 5px;
    font-family: 'Cormorant Upright', serif;
    font-size: 50px;
    font-style: italic;
    color:  #574013;
}

h3{
    padding-top: 5px;
    font-family: 'Cormorant Upright', serif;
    font-size: 32px;
    font-style: italic;
    color:  #574013;
}

.text-custom{
    padding-top: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-style: italic;
    color:  #5e5e5e;
}

.text-custom2{
    padding-top: 0px;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color:  #5e5e5e;
}

.badge-custom{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #574013;
    background-color: #f6eacb;
}

h7{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color:  #5e5e5e;
}

h6{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:  #574013;
}